{% extends 'layout.html' %}

{% block title %}Upload{% endblock %}

{% block customCSS %}
<link href="{{ url_for('static', filename='css/upload.css') }}" rel="stylesheet" >
{% endblock %}

{% set active_page = 'upload' %}

{% block content %}
<!-- Page Content -->
<div class="container">

  <!-- Page Heading -->
  <div class="my-4">
    <h2 class="text-center page-header">Upload Notes</h2>
  </div>
  <div class="custom-file">
    <input type="file" class="form-control-file" id="file">
  </div>
  <form class="my-4">
    <!--Subject (checkbox)-->
    <div class="form-group row">
      <div class="col-sm-2 advanced-label">Subject</div>
      <div class="col-sm-10 advanced-label">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="gridCheck2">
          <label class="form-check-label" for="gridCheck2">Physics</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="gridCheck3">
          <label class="form-check-label" for="gridCheck3">Biology</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="gridCheck4">
          <label class="form-check-label" for="gridCheck4">Chemistry</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="gridCheck5">
          <label class="form-check-label" for="gridCheck5">Computing</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="gridCheck6">
          <label class="form-check-label" for="gridCheck6">Mathematics</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="gridCheck7">
          <label class="form-check-label" for="gridCheck7">Economics</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="gridCheck8">
          <label class="form-check-label" for="gridCheck8">General Paper</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="gridCheck9">
          <label class="form-check-label" for="gridCheck9">English Literature</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="gridCheck10">
          <label class="form-check-label" for="gridCheck10">Geography</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="gridCheck11">
          <label class="form-check-label" for="gridCheck11">History</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="gridCheck12">
          <label class="form-check-label" for="gridCheck12">Social Studies</label>
        </div>
      </div>
    </div>
    <!--Level (radio)-->
    <div class="form-group row">
      <legend class="col-form-label col-sm-2 advanced-label">Level</legend>
      <div class="pl-3 pt-2">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
          <label class="form-check-label" for="gridRadios2">
            O Level
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3">
          <label class="form-check-label" for="gridRadios3">
            A Level
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="description" rows="3"></textarea>
    </div>
  </form>

  <button class="btn btn-outline-primary btn-block mb-5" type="button" id="button-search">Upload
    <i class="fa fa-cloud-upload" style="font-size:20px;"></i>
  </button>

</div>

{% endblock %}
