{% extends 'layout.html' %}

{% block title %}User Information{% endblock %}

{% block customCSS %}
<link href="{{ url_for('static', filename='css/user.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<!-- Page Content -->
<div class="container">

  <!-- User Name -->
  <h1 class="my-4" id="username">Johnathan</h1>

  <!-- Portfolio Item Row -->
  <div class="row">

    <div class="col-md-5">
      <img src="https://i9.photobucket.com/albums/a88/creaticode/avatar_1_zps8e1c80cd.jpg" alt="">
    </div>

    <div class="col-md-7">
      <h3 class="my-3">About Me</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>
    </div>

  </div>

  <!-- Other Notes Uploaded -->
  <div id="notes">
    <h3 class="my-4">Notes Uploaded</h3>
    <div class="row">

      <div class="col-md-4">
        <a href="{{ url_for('viewNotes') }}">
          <img class="notes-img" src="{{ url_for('static', filename='img/respiration-watermark1.PNG') }}" alt="">
        </a>
        <p>Respiration</p>
      </div>

      <div class="col-md-4">
        <a href="#">
          <img class="notes-img" src="{{ url_for('static', filename='img/Singapore-characteristics-Jiaxin.jpg') }}" alt="">
        </a>
        <p>Singapore Notes</p>
      </div>

      <div class="col-md-4">
        <a href="#">
          <img class="notes-img" src="{{ url_for('static', filename='img/Econs2.jpg') }}" alt="">
        </a>
        <p>Microeconomics</p>
      </div>
    </div>
  </div>
</div>
<!-- /.container -->
{% endblock %}
