{% extends 'layout.html' %}

{% block title %}View Notes{% endblock %}

{% block customCSS %}
<link href="{{ url_for('static', filename='bootsnipp/comment.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/view-notes.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<!-- Page Content -->
<div class="container">

  <!-- Page Heading -->
  <div class="my-4">
    <h2 class="text-center">Respiration</h2>
    <div>
      <span class="heading views">Views:</span>
      <span>10</span>
    </div>
    <div>
      <span class="heading">Author:</span>
      <span><a href="{{ url_for('user') }}">Johnathan</a></span>
      <span class="left">Ratings</span>
    </div>
    <div>
      <span class="heading">Date Uploaded:</span>
      <span>27 September 2018</span>
      <span class="left">
        <button type="button" class="btn btn-outline-success btn-sm mt-2" id="good-btn" onclick="toggleGood()">
          <i class="fa fa-thumbs-up pr-1"></i>
          <span>3</span>
        </button>
        <button type="button" class="btn btn-outline-danger btn-sm mt-2" id="bad-btn" onclick="toggleBad()">
          <i class="fa fa-thumbs-down pr-1"></i>
          <span>0</span>
        </button>
      </span>
    </div>
    <div>
      <span class="heading views">Subject & Level:</span>
      <span class="badge badge-warning">Biology</span>
      <span class="badge badge-light">A Level</span>
    </div>
    <div>
      <span class="heading">Description:</span>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, quidem, consectetur, officia rem
      officiis illum aliquam perspiciatis aspernatur quod modi hic nemo qui soluta aut eius fugit quam in
      suscipit?</p>
    </div>
  </div>

  <!--PDF-->
  <div class="pdf-notes-container" id="pdf-notes"></div>

  <!-- Discussion -->
  <div class="comments-container" id="discussion">
    <h1>Discussion</h1>

    <div class="input-group">
      <input class="form-control" placeholder="Join the Discussion..." type="text">
      <div class="input-group-append">
        <button class="btn btn-outline-primary" type="button" id="button-addon2">
          <i class="fa fa-paper-plane"></i>
        </button>
      </div>
    </div>

    <ul id="comments-list" class="comments-list">
      <li>
        <div class="comment-main-level">
          <!-- Avatar -->
          <div class="comment-avatar"><img
               src="https://i9.photobucket.com/albums/a88/creaticode/avatar_1_zps8e1c80cd.jpg" alt="">
          </div>
          <!-- Comments -->
          <div class="comment-box">
            <div class="comment-head">
              <h6 class="comment-name by-author"><a href="user.html">Johnathan</a>
              </h6>
              <span>20 minutes ago</span>
              <i class="fa fa-reply"></i>
              <i class="fa fa-heart"></i>
            </div>
            <div class="comment-content">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure
              laudantium vitae, praesentium optio, sapiente distinctio illo?
            </div>
          </div>
        </div>
        <!-- Replies -->
        <ul class="comments-list reply-list">
          <li>
            <!-- Avatar -->
            <div class="comment-avatar"><img
                 src="https://i9.photobucket.com/albums/a88/creaticode/avatar_2_zps7de12f8b.jpg" alt="">
            </div>
            <!-- Comments -->
            <div class="comment-box">
              <div class="comment-head">
                <h6 class="comment-name"><a href="#">Lorena Rojero</a></h6>
                <span>10 minutes ago</span>
                <i class="fa fa-reply"></i>
                <i class="fa fa-heart"></i>
              </div>
              <div class="comment-content">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure
                laudantium vitae, praesentium optio, sapiente distinctio illo?
              </div>
            </div>
          </li>

          <li>
            <!-- Avatar -->
            <div class="comment-avatar"><img
                 src="https://i9.photobucket.com/albums/a88/creaticode/avatar_1_zps8e1c80cd.jpg" alt="">
            </div>
            <!-- Comments -->
            <div class="comment-box">
              <div class="comment-head">
                <h6 class="comment-name by-author"><a href="{{ url_for('user') }}">Johnathan
                  </a></h6>
                  <span>10 minutes ago</span>
                  <i class="fa fa-reply"></i>
                  <i class="fa fa-heart"></i>
              </div>
              <div class="comment-content">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure
                laudantium vitae, praesentium optio, sapiente distinctio illo?
              </div>
            </div>
          </li>
        </ul>
      </li>

      <li>
        <div class="comment-main-level">
          <!-- Avatar -->
          <div class="comment-avatar"><img
               src="https://i9.photobucket.com/albums/a88/creaticode/avatar_2_zps7de12f8b.jpg" alt="">
          </div>
          <!-- Comments -->
          <div class="comment-box">
            <div class="comment-head">
              <h6 class="comment-name"><a href="#">Lorena Rojero</a></h6>
              <span>5 minutes ago</span>
              <i class="fa fa-reply"></i>
              <i class="fa fa-heart"></i>
            </div>
            <div class="comment-content">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure
              laudantium vitae, praesentium optio, sapiente distinctio illo?
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
{% endblock %}

{% block customJS %}
<script src="{{ url_for('static', filename='PDFObject/pdfobject.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/view-notes.js') }}"></script>
{% endblock %}
